html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/leaves-pattern.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  -webkit-animation: flip-back 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: flip-back 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Add animation for cards to flip back */
@-webkit-keyframes flip-back {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}
@keyframes flip-back {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

.deck .card.open {
  -webkit-animation: flip-open 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: flip-open 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  background: #02b3e4;
  cursor: default;
}


/*Add animation for cards to flip open upon click */
@-webkit-keyframes flip-open {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes flip-open {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
  animation: bounce 1s;  
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-20px);} 
  60% {transform: translateY(-10px);} 
}


/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .timer {
  display: inline-block;
  padding-right: 1.5em;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

/* 
* Styles for modal - congratulations box
*/

/* Modal box with darkened background */
.modal-box {
  display: none;
  z-index: 1;
  position: absolute;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;  
  height: 1000px;   
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
/* Modal Content */
.modal-image img {
  width: 200px; 
}

.modal-text {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  text-align: center;
}

.stats i {
  margin-left: 10px;
  margin-right: 5px;
  color: #aa7ecd;
}

.stats ul {
  display: inline-flex;
}
.stats li {
  list-style-type: none;
  margin-right: 20px;
}

.playAgain button {
  border-radius: 5px;
  background-color: #02ccba;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: inherit;
}

.modal-text h1 {
  font-weight: bold;
  color: #02ccba;
 } 


.modal-text span {
  font-weight: bold;
 } 

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
  margin-top: -15px;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


